[defaults]
collections_path        = ~/.ansible/collections
interpreter_python      = auto_silent
deprecation_warnings    = false
host_key_checking       = false

[ssh_connection]
scp_extra_args          = -O